.github/
html/
node_modules/
.eslintrc.js
eslint.config.mjs
.idea/
.vscode/
.DS_Store
test-project/
test-project-next/
tests/

*.tgz
package-lock.json
vitest.config.js
eslint.config.js
.prettierignore
.prettierrc
